@font-face{
    font-family: 'DAM_Madheeh';
    src: url('../fonts/bootstrap/DAM_Madheeh.otf');
    font-family: 'Faruma';
    src: url('../fonts/bootstrap/Faruma.otf');
    



font-style: 'normal';




}