@font-face{    
    font-family: 'Faruma';
    src: url('../fonts/bootstrap/Faruma.otf');    
    
}

@font-face {
    font-family: 'Mv_Iyyu_Normal';
    src: url('../fonts/bootstrap/Mv_Iyyu_Normal.otf');
    
}